%TMPL:DEF{"css-class-body"}%%TMPL:END%
%TMPL:DEF{"css-class-header"}%%TMPL:END%
%TMPL:DEF{"css-class-footer"}%%TMPL:END%
%TMPL:DEF{"css-class-button"}%%TMPL:END%
%TMPL:DEF{"css-class-button-cancel"}%%TMPL:END%
%TMPL:DEF{"css-class-button-primary"}%%TMPL:END%
%TMPL:DEF{"css-class-button-secondary"}%%TMPL:END%
%TMPL:DEF{"css-class-data-form"}%%TMPL:END%
%TMPL:DEF{"css-class-table"}%foswikiTable%TMPL:END%
%TMPL:DEF{"css-class-caption"}%%TMPL:END%
%TMPL:DEF{"css-class-tr"}%%TMPL:END%
%TMPL:DEF{"css-class-th"}%%TMPL:END%
%TMPL:DEF{"css-class-td"}%%TMPL:END%
%TMPL:DEF{"css-class-thead"}%%TMPL:END%
%TMPL:DEF{"css-class-tbody"}%%TMPL:END%
%TMPL:DEF{"css-class-tfoot"}%%TMPL:END%
%TMPL:DEF{"css-class-odd"}%foswikiTableOdd%TMPL:END%
%TMPL:DEF{"css-class-even"}%foswikiTableEven%TMPL:END%
%TMPL:DEF{"css-class-sorted"}%foswikiSortedCol%TMPL:END%
%TMPL:DEF{"css-class-text-area"}%%TMPL:END%
%TMPL:DEF{"css-class-text-input"}%%TMPL:END%
%TMPL:DEF{"css-class-disabled"}%%TMPL:END%
%TMPL:DEF{"css-class-clear"}%%TMPL:END%
%TMPL:DEF{"css-class-ckeckbox"}%%TMPL:END%
%TMPL:DEF{"css-class-error-text"}%%TMPL:END%
%TMPL:DEF{"css-class-error"}%%TMPL:END%
%TMPL:DEF{"css-class-primary"}%%TMPL:END%

%{Table plugin specifics}%
%TMPL:DEF{"css-class-tr-prefix"}%foswikiTableRow%TMPL:END%
%TMPL:DEF{"css-class-col-prefix"}%foswikiTableCol%TMPL:END%
%TMPL:DEF{"css-class-first-col"}%foswikiFirstCol%TMPL:END%
%TMPL:DEF{"css-class-last-col"}%foswikiLastCol%TMPL:END%
%TMPL:DEF{"css-class-last"}%foswikiLast%TMPL:END%
%TMPL:DEF{"css-class-ascending"}%foswikiSortedAscendingCol%TMPL:END%
%TMPL:DEF{"css-class-descending"}%foswikiSortedDescendingCol%TMPL:END%
%TMPL:DEF{"css-class-last"}%foswikiLast%TMPL:END%



			
			





