%TMPL:DEF{"css-class-body"}%ui-widget ui-widget-content%TMPL:END%
%TMPL:DEF{"css-class-header"}%ui-widget-header%TMPL:END%
%TMPL:DEF{"css-class-footer"}%ui-widget-header%TMPL:END%
%TMPL:DEF{"css-class-button"}%fw-button ui-state-default ui-corner-all%TMPL:END%
%TMPL:DEF{"css-class-button-cancel"}%fw-button ui-state-default ui-state-error ui-corner-all%TMPL:END%
%TMPL:DEF{"css-class-button-primary"}%fw-button ui-state-default ui-priority-primary ui-corner-all%TMPL:END%
%TMPL:DEF{"css-class-button-secondary"}%fw-button ui-state-default ui-priority-secondary ui-corner-all%TMPL:END%
%TMPL:DEF{"css-class-data-form"}%fw-data-form%TMPL:END%
%TMPL:DEF{"css-class-table"}%fw-table%TMPL:END%
%TMPL:DEF{"css-class-caption"}%fw-caption ui-widget-header%TMPL:END%
%TMPL:DEF{"css-class-tr"}%fw-tr ui-widget-content%TMPL:END%
%TMPL:DEF{"css-class-th"}%fw-th ui-widget-header%TMPL:END%
%TMPL:DEF{"css-class-td"}%fw-td%TMPL:END%
%TMPL:DEF{"css-class-thead"}%fw-thead%TMPL:END%
%TMPL:DEF{"css-class-tbody"}%fw-tbody%TMPL:END%
%TMPL:DEF{"css-class-tfoot"}%fw-tfoot%TMPL:END%
%TMPL:DEF{"css-class-odd"}%fw-odd ui-widget-content ui-state-default%TMPL:END%
%TMPL:DEF{"css-class-even"}%fw-even ui-widget-content ui-state-hover%TMPL:END%
%TMPL:DEF{"css-class-sorted"}%ui-state-highlight%TMPL:END%
%TMPL:DEF{"css-class-text-area"}%fw-input ui-widget-content%TMPL:END%
%TMPL:DEF{"css-class-text-input"}%fw-input ui-widget-content%TMPL:END%
%TMPL:DEF{"css-class-disabled"}%ui-state-disabled%TMPL:END%
%TMPL:DEF{"css-class-clear"}%ui-helper-clear%TMPL:END%
%TMPL:DEF{"css-class-ckeckbox"}%fw-checkbox%TMPL:END%
%TMPL:DEF{"css-class-error-text"}%ui-state-error-text%TMPL:END%
%TMPL:DEF{"css-class-error"}%fw-error ui-widget ui-state-error ui-corner-all%TMPL:END%
%TMPL:DEF{"css-class-primary"}%ui-priority-primary%TMPL:END%










